/* .spinner {
   position: relative;
   width: 22.4px;
   height: 22.4px;
}

.spinner::before,
.spinner::after {
   --radius: 250;
   content: '';
   display: block;
   position: absolute;
   width: 100%;
   height: 100%;
   animation: spinner-w7nm60 2s infinite linear;
   background: #474bff;
   border-radius: 50%;
}

.spinner::before {
   --radius: -250;
   background: #dbdcef;
}

@keyframes spinner-w7nm60 {
   0% {
      transform: scale(1) rotate(0deg) translateY(calc(var(--radius) * 1%));
   }

   50% {
      transform: scale(0.5) rotate(1440deg) translateY(0);
   }

   100% {
      transform: scale(1) rotate(2920deg) translateY(calc(var(--radius) * 1%));
   } */
/* } */
/* 
spinner {
   position: relative;
   width: 22.4px;
   height: 22.4px;
}

.spinner::before,
.spinner::after {
   content: '';
   width: 100%;
   height: 100%;
   display: block;
   animation: spinner-b4c8mmmd 0.5s backwards, spinner-49opz7md 1.25s 0.5s infinite ease;
   border: 5.6px solid #474bff;
   border-radius: 50%;
   box-shadow: 0 -33.6px 0 -5.6px #474bff;
   position: absolute;
}

.spinner::after {
   animation-delay: 0s, 1.25s;
}

@keyframes spinner-b4c8mmmd {
   from {
      box-shadow: 0 0 0 -5.6px #474bff;
   }
}

@keyframes spinner-49opz7md {
   to {
      transform: rotate(360deg);
   }
} */
.spinner {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: conic-gradient(#0000 10%,#474bff);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
    animation: spinner-zp9dbg 1s infinite linear;
 }
 
 @keyframes spinner-zp9dbg {
    to {
       transform: rotate(1turn);
    }
 }